<div class="row">
  <div class="form-wrap col-md-12">
    <div class="form-horizontal">
      <div class="form-group"><label for="name" class="col-md-2 control-label">商品名称</label>
        <div class="col-md-5"><input type="text" class="form-control" name="name" id="name" placeholder="请输入商品名称" value=""></div>
      </div>
      <div class="form-group"><label for="subtitle" class="col-md-2 control-label">商品描述</label>
        <div class="col-md-5"><input type="text" class="form-control" name="subtitle" id="subtitle" placeholder="请输入商品描述"
            value=""></div>
      </div>
      <div class="form-group"><label for="" class="col-md-2 control-label">所属分类</label>
        <div class="col-md-10"
          <select type="password" class="form-control cate-select col-md-5">
            <option value="">请选择一级品类</option>
            <option value="100001">1</option>
          </select>
        </div>
      </div>
      <div class="form-group"><label for="price" class="col-md-2 control-label">商品价格</label>
        <div class="col-md-3">
          <div class="input-group"><input type="number" class="form-control" id="price" placeholder="价格" name="price"
              value="">
            <div class="input-group-addon">元</div>
          </div>
        </div>
      </div>
      <div class="form-group"><label for="stock" class="col-md-2 control-label">商品库存</label>
        <div class="col-md-3">
          <div class="input-group"><input type="number" class="form-control" id="stock" name="stock" placeholder="库存"
              value="">
            <div class="input-group-addon">件</div>
          </div>
        </div>
      </div>
      <div class="form-group"><label for="inputEmail3" class="col-md-2 control-label">商品图片</label>
        <div class="img-con col-md-10">
          <div class="notice">请上传图片</div>
        </div>
        <div class="col-md-offset-2 col-md-10">
          <div>
            <div style="overflow: hidden; display: inline-block;"><button>上传图片</button></div>
            <div style="overflow: hidden; display: none;"></div><input type="file" name="ajax_upload_file_input" accept="image/gif,image/jpeg,image/jpg,image/png"
              style="display: none;">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10"><button type="btn" class="btn btn-xl btn-primary">提交</button></div>
      </div>
    </div>
  </div>
</div>