.App {
  /* text-align: center; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.operator{
  margin-right: 20px;
}
.operator-xs{
  margin-right: 10px;
}
.required-input{
  color: green;
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  margin-left:-10px;
  padding-left: 0;
}
.float-left{
  float: left;
}
.avatar{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.status-green{
    color: green;
    font-weight: 600;
}
.status-red{
    color: red;
    font-weight: 600;
}
.status-grey{
    color: grey;
    font-weight: 600;
}
.white-background{
    background-color: white;
    padding-left: 20px;
}